.alice-carousel ul {
  margin: 0px 3px 5px;
}

.alice-carousel__dots-item:not(.__custom) {
  width: 10px;
  height: 10px;
}

.alice-carousel__prev-btn {
  display: none;
}

.alice-carousel__next-btn {
  display: none;
}
