@import 'styles/variables.scss';

.socialMediaBox {
  flex-direction: column-reverse;
  transition: all 2s;
  filter: brightness(0.7);
  &:hover {
    filter: brightness(1);
  }
}
.socialMediaText {
  p {
    position: relative;
    bottom: 40px;
    filter: brightness(1.5);
  }
}

.linksWrapper {
  padding: 64px 25%;
  .avatarImg {
    img {
      outline: 4px solid white;
      border-radius: 100px;
      outline-offset: -2px;
    }
  }
  @media (max-width: $isTablet) {
    padding: 64px 10%;
  }
  @media (max-width: $isMobile) {
    padding: 32px 16px 32px;
  }
}
