@import "../../styles/variables.scss";

.socialMediaBox {
  display: flex;
  flex-direction: column-reverse;
  transition: all 2s;
  filter: brightness(0.7);
  background-size: contain;
  height: 160px;
  width: 160px;
  border-radius: 100px;
  cursor: pointer;
  &:hover {
    filter: brightness(1);
  }
}
.socialMediaText {
  display: flex;
  justify-content: center;
  p {
    position: relative;
    bottom: 40px;
    filter: brightness(1.5);
  }
}

.linksWrapper {
  padding: 64px 25%;
  .avatarImg {
    display: flex;
    justify-content: center;
    img {
      outline: 4px solid white;
      border-radius: 100px;
      outline-offset: -2px;
    }
  }
  .avatarText {
    display: flex;
    justify-content: center;
    padding: 0.75rem 0;
    h1 {
      // p="0 4px 0 0" fontSize="24px" fontWeight={600}
      padding: 0 4px 0 0;
      font-size: 24px;
      font-weight: 600;
    }
  }
  .boxWrappers {
    display: flex;
    gap: 22px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  @media (max-width: $isTablet) {
    padding: 64px 10%;
  }
  @media (max-width: $isMobile) {
    padding: 32px 16px 32px;
  }
}
