@import "pallet";
@import "variables";

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  color: $colorPrimary;
  background-image: url('../assets/Code-Background.png');
  background-position: center;
  .MainContent {
    padding: $navHeight;
  }
}
