@import"styles/pallet";
@import"styles/variables";
@import"styles/mixins";

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  color: $colorPrimary;
  // background-image: url("../assets/Code-Background.png");
  // background-position: center;

  .AppHeader {
    @media (max-width: 500px) {
      .desktopOnly {
        display: none;
      }
    }
  }

  .AppHeader {
    .mobileOnly {
      width: 100%;
      background-color: $evenMoreTransparentBlack;
      height: 100px;
      position: fixed;
      z-index: 100;
      top: 0;
      svg {
        display: block;
        padding: 20px;
        cursor: pointer;
      }
    }
    @media (min-width: 501px) {
      .mobileOnly {
        display: none;
      }
    }
  }

  h1 {
    @include mainTitle;
  }
  .MainContent {
    margin-top: $navHeight;
  }
}
