@import "pallet";
@import "variables";
@import "mixins";

.projectCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .userAuthCard {
    img {
      box-shadow: 0 2px 1px $darkGrey;
      border: 2px solid $darkGrey;
      border-radius: 10px;
    }
  }
}
