@import "../../styles/variables.scss";

.scrollDownContainer {
  animation:
    bounce 3.5s infinite,
    fadeIn 2s forwards;
  animation-delay: 5s, 5s;
  opacity: 0;
  color: $main-colour;
  position: relative;
  top: 8%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  font-size: 24px;
  font-weight: 500;
  padding: 1rem 0;
  cursor: pointer;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  span {
    width: 165px;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(2px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heroSectionContainer {
  margin-top: clamp(4rem, 24vh, 15rem);

  .textSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

}
