$colorPrimary: 	          #D1E5FF;
$colorSecondary:          #61dafb;
$darkGrey:                #505050;
$black:                   #131211;


$nav-active:              #0a0f48;
$nav-standard:             $black;
$footer-background:        $black;
$mainBackgroundColor:     #36435c;
$cardBackgroundColor:     #212838;
$titleColour:             #faebd7;
$modalBackground:         #00104c;