.unsubscribeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  gap: 1rem;

  h1 {
    font-size: 8em;
    font-weight: 600;
  }
}
