@import "../../styles/variables.scss";

.navContainer {
  z-index: 3;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  // border-bottom: 1px solid $main-colour;
  background-color: #000000ab;
  .navInner {
    display: flex;
  }
  .navLeft {
    flex-grow: 1;
  }
  .navRight {
    display: flex;
    gap: 1.5rem;
    padding: 4px 24px 0 0;
    margin: 1rem 0 0 0;
  }
  .logoLink {
    cursor: unset;
    display: inline-block;
    margin: 6px 0 0 0;
  }
  .logo {
    color: $secondary-colour;
    padding: 8px 8px 8px 10px;
    background-color: $main-colour;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
    width: 40px;
    z-index: 1;
    position: relative;
  }
  a {
    cursor: unset;
    display: inline-block;
  }
  .logo:hover {
    background-color: $main-colour-dark;
  }
  .linkStyle {
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: none;
    background-color: transparent;
    position: relative;
    .linkLabel {
      cursor: pointer;
    }
    &:hover::before {
      transform: scaleX(1);
      transform-origin: center left;
      z-index: 0;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 24px;
      height: 2px;
      bottom: 0;
      left: 0;
      right: 0;
      transform: scaleX(0);
      background: $main-colour;
      transform-origin: center right;
      transition: transform 0.2s ease-in;
    }
  }
  .active {
    text-decoration: underline;
    color: "$active-colour";
  }
}
