@import "../../../styles/variables.scss";

.heroTitleContainer {
  font-size: 4em;
  margin: 0.5rem 0;
  span {
    color: $secondary-colour;
  }
}

.subtitle {
  margin: 0.5rem 0;
  font-size: 2em;
}
.primary {
  color: $primary-colour;
}
.secondary {
  color: $secondary-colour;
}
