@import "../../../styles/variables.scss";

.heroTitleContainer {
  font-size: 4em;
  margin: 1rem 0;
  span {
    color: $secondary-colour;
  }
}

.subtitle {
  color: $secondary-colour;
  margin: 1rem 0;
  font-size: 2em;
}
