$mainBackgroundColor:     #36435c;
$cardBackgroundColor:     #212838;
$titleColour:             #faebd7;

$colorPrimary: 	          #D1E5FF;
$colorSecondary:          #61dafb;

/* Colours  */

$darkGrey:                #505050;

$nav-active:              #0a0f48;
$nav-standard:            #131211;;