$navHeight: 95px;
$text-padding: 8px;
$page-margin: 10px 10px 10px 10px;
$footerPadding: 20px;

/*  Breakpoints  */
$landscapeTablet: 1024px;
$portraitTablet: 768px;
$s-screen: 500px;
$m-mobile: 375px;
$s-mobile: 320px;
