@import 'styles/variables.scss';

.scrollDownContainer {
  -webkit-animation: pulsate 4s ease-out;
  -webkit-animation-iteration-count: infinite; 
  animation-delay: 6s;
  opacity: 0;
  animation-name: appear;
  color:$main-colour;
  position: relative;
  top: 8%;
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
  width: 150px;
  font-size: 24px;
  font-weight: 500;
  padding: 1rem 0;
}

@keyframes appear {
  0% {opacity: 0;}
  50% { opacity: 1;}
  100% {opacity: 50;}
}