@import '../../styles/variables.scss';

.skillsContainer {
  .title {
    color: $main-colour;
    margin:4rem 0;
  }
  .skillsList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1100px;
    gap: 22px;
    cursor: default;
    text-align: -webkit-center;
    .skillsBox {
      width: 250px;
      font-size: 22px;
      font-weight: 500;
      @media(max-width: $isTablet) {
        width: 150px;
      }
      @media(max-width: $isMobile) {
        width: 100px;
      }
    }
  }
  .certContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    justify-content: center;
    .certBox {
      width: 500px;
      font-size: 22px;
      font-weight: 500;
      color: $main-colour;
      img {
        width: 500px;
        height: 400px;
        @media (max-width: $isMobile) {
          height: 300px;
        }
      }
    }
  }
}
