.skillsContainer {
  margin: 4rem 0 0 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  .skillsTitle {
    margin: 0.5rem 0;
    font-size: 2em;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 0.25rem;
  }
}
