@import '../../styles/variables.scss';

.topTagsHtml {
  bottom: auto;
  top: 12px;
  margin-left: -20px;
}

.topTags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: $main-colour-dark;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
  cursor: default;
}
