.CardWrapper {
  border: 1px solid #ccc;
  box-shadow: 3px 4px 2px 2px #888888;
  height: 200px;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 30px auto;
}