.mapWrapper {
  min-height: 746px;
  .formGroup {
    input {
      position: absolute;
      top: 120px;
      z-index: 20;
    }
  }
  .mapContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
