@import "pallet";
@import "variables";
@import "mixins";

.blogLinks {
  text-decoration: none;
  color: $black;
}

.blogCardContainer {
  border: 1px solid #888;
  background-color: #f7f7f7;
  box-shadow: 2px 2px 2px 2px #888;
  width: 80%;
  height: 200px;
  margin: 25px auto;
  padding: 5px 30px;
  // cursor: pointer;
}
