@import "../../styles/variables";

@keyframes bounce {
  0%,
  20%,
  50%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(2px);
  }
}

.footerContainer {
  border-top: 1px solid;
  padding: 2rem;
  a {
    display: flex;
    gap: 1rem;
    svg {
      align-self: center;
    }
    span {
      font-size: 1.15em;
    }
    span:hover {
      text-decoration: underline;
    }
  }
  img {
    filter: brightness(0) invert(1);
    animation: bounce 3.5s infinite;
  }
  span {
    color: $primary-colour;
  }
}

.linkSection {
  display: flex;
  flex-direction: row-reverse;
}
