@import "pallet";
@import "variables";
@import "mixins";

.blogContainer {
  background-color: $lightGrey;
  width: 70%;
  min-height: 800px;
  margin: auto;
  padding: 10px;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman",
    Times, serif;
  p {
    padding: 10px 40px;
    font-size: larger;
  }
  .buttonWrapper {
    cursor: pointer;
    position: absolute;
    padding: 20px;
    margin: 0 0 0 50px;
    @media (max-width: 620px) {
      display: flex;
      position: inherit;
      margin: 0;
      width: 75px;
    }
    svg {
      padding: 0;
      left: 5px;
      display: initial;
      position: absolute;
    }
  }
  @media (max-width: $portraitTablet) {
    width: 100%;
  }
}
