@import "pallet";
@import "variables";

.skillsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  & div {
    max-width: 350px;
  }
}

.achCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}