@import 'styles/pallet.scss';
@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.achCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.padding {
  padding: 0 6px 0 6px;
}
