@import"styles/pallet";
@import"styles/variables";
@import"styles/mixins";

.achCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .degreeCard {
    img {
      cursor: pointer;
    }
  }
}
