@import "pallet";
@import "variables";
@import "mixins";

.skillsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  h2 {
    @include header;
  }
  & div {
    max-width: 350px;
  }
}

.achCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}