@import"styles/pallet.scss";
@import"styles/variables.scss";
@import"styles/mixins.scss";

.sidedrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: $modalBackground;
  padding: 32px 0 0 /*  16px  */;
  box-sizing: border-box;
  transition: transform 1.3s ease-out;

  button {
    color: $lightGrey;
    bottom: 20%;
    position: absolute;
    left: 31%;
  }
}

@media (min-width: 501px) {
  .sidedrawer {
    display: none;
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}
