@import "pallet";
@import "variables";
@import "mixins";

.AWS {
  ul {
    text-align: left;
  }
}

.react16 {
  img {
    box-shadow: 0 2px 1px #ccc;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
  }
  // img:hover {
  //   width: 500px;
  //   height: 250px;
  // }
}

.javaScriptTrack {
  ul {
    text-align: left;
  }
}

.userAuth {
  padding: 0 6px 0 6px;
}

.tooltip {
  @include tooltip;
}

.tooltip .tooltiptext {
  @include tooltipAndText;
  @include positionLeft;
}

.tooltip:hover .tooltiptext {
  @include tooptipHover;
}

.tooltip .tooltiptext::after {
  @include tooltipArrowRight;
}