@import 'styles/pallet.scss';
@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.footerWrapper {
  width: 100%;
  height: 100px;
  background-color: #131211;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .tooltip {
    @include tooltip;
  }

  .tooltip .tooltiptext {
    @include tooltipAndText;
    @include positionBottom;
  }

  .tooltip:hover .tooltiptext {
    @include tooptipHover;
  }

  .tooltip .tooltiptext::after {
    @include tooltipArrowBottom;
  }

  .socialMedia {
    @media (max-width: 450px) {
      width: 50px;
    }
  }

  img {
    margin: 10px 0 0 0;
  }

  .backToTopWrapper {
    span {
      color: white;
      padding: 0 0 0 10px;
    }
    cursor: pointer;
    svg {
      padding: 0;
      margin: -2px 0px 0px -15px;
      display: initial;
      position: absolute;
      @media (max-width: 480px) {
        display: none;
      }
    }
  }
}
