@import "pallet";
@import "variables";
@import "mixins";

.NavLink {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;

  @media (max-width: 500px) {
    margin: 10px auto;
  }
}

.NavLink a {
  color: whitesmoke;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavLink a:hover,
.NavLink a:active,
.NavLink a.active {
  color: aquamarine;
  font-weight: 600;
}

svg {
  display: none;
}

@media (min-width: 500px) {
  .NavLink {
    display: block;
    height: 60%;
    padding: 10px 20px 0 20px;
    margin: 0;
  }

  .NavLink a {
    color: whitesmoke;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
  }

  .NavLink a:active,
  .NavLink a.active {
    color: $titleColour;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 650;
    border-bottom: 2px solid;
  }

  svg {
    padding: 20px 8px 20px 8px;
    display: block;
  }
}
