@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  // background-color: black !important;
  margin: 0;
  font: 400 16px/1.4 'Helvetica Neue', sans-serif;  // 300 11px
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #022c43 !important;
  // overflow: hidden;
  display: block;
  a, p {
    color: $main-blue;
  }
  a {
    cursor: pointer;
  }
  
}

.cardContainer {
  animation: flyInFromBottom 2.5s ease-in-out forwards;
  overflow: auto;
  border-radius: 20px;
  transition: all 1.5s ease-in-out;
  .cardHeading {
    color: $active-colour;
    padding-bottom: 24px;
  }
  p {
    font-size: 28px;
    padding-bottom: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  &::before {
    content: '<Card>';
    font-family: 'La Belle Aurore';
    color: $main-blue-dark;
    font-size: 18px;
    opacity: 0.6;
    position: absolute;
    margin-top: -25px;
  }
  &::after {
    content: '</Card>';
    font-family: 'La Belle Aurore';
    color: $main-blue-dark;
    font-size: 18px;
    opacity: 0.6;
    position: absolute;
  }
}

@keyframes flyInFromBottom {
  0% {
    transform: translateY(100%);
  }
  80% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0);
  }
}
  // The bit that animates
  .detailsBox {
    background-color: $secondary-colour;
    background-color: #290808;
  }
  .detailsBox:hover .cardText {
    transform: translate(120%);
    transition: all 1.5s ease-in-out;
  }
  .cardText {
    transition: all 1.5s ease-in-out;
  }
  .cardLinks {
    transform: translate(100%);
    transition: all 1.5s ease-in-out;
  }
  .detailsBox:hover .cardLinks {
    transform: translate(0%);
    transition: all 1.5s ease-in-out;
  } 
  
* {
  box-sizing: border-box;
}

.fadingText {
  animation: fadingAnimation 6s ease alternate infinite;
  opacity: 1;
  cursor: default;
  font-family: "Aguafina Script", cursive;
  color: red;
  text-shadow: 0 1px 1px #fff;
}

@keyframes fadingAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Scrollbar Styles
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $main-blue;
  border-radius: 10px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $main-blue-dark;
}

// From react-portfolio YT: https://www.youtube.com/watch?v=bmpI252DmiI&list=WL&index=3
@import 'animate.css';
@import '~loaders.css/src/animations/pacman.scss';

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/helvetica-neu.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'La Belle Aurore';
  src: url('/fonts/LaBelleAurore.woff2') format('woff2'),
    url('/fonts/LaBelleAurore.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/CoolveticaRg-Regular.woff2') format('woff2'),
    url('/fonts/CoolveticaRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

input,
textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

/*

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #022c43;
  overflow: hidden;
  display: block;
}



*/

.top-tag-html {
  bottom: auto;
  top: 12px;
  margin-left: -20px;
}

.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: $main-blue-dark;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
  cursor: default;
}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  min-height: 100vh;
  overflow: hidden;
  // padding: 0 2rem;
  width: 100%;
  will-change: contents;
  // height: 90%;
  // min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.headingContainer {
  color: $main-blue;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  cursor: default;
  animation: fadeIn 1s forwards;
  opacity: 0;
  animation-delay: 1s;
  transform: translateY(-50%);
  font-size: 66px;
  font-weight: 400;
  font-family: 'coolvetica';
  text-shadow: 2px 2px 0 #46CEBB;

  @media (max-width: 500px) {
    font-size: 48px;
  }

  .text-animate {
    color: $main-blue;
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 2.5s;
    animation-fill-mode: forwards;
    min-width: 10px;
  }

  .text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
    &:hover {
      animation: rubberBand 1s;
      color: $active-colour;
    }
  }

  @for $i from 1 through 21 {
    .text-animate._#{$i} {
      animation-delay: #{$i /10}s;
    }
  }

  .a {
    color: $active-colour;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
  }

  .l {
    color: $active-colour;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    margin-left: 4px;
  }

  &::before {
    content: '<h1>';
    font-family: 'La Belle Aurore';
    color: $main-blue-dark;
    font-size: 18px;
    opacity: 0.6;
    text-shadow: none;
  }
  &::after {
    content: '</h1>';
    font-family: 'La Belle Aurore';
    color: $main-blue-dark;
    font-size: 18px;
    opacity: 0.6;
    position: absolute;
    margin-top: 85px;
    margin-right: 360px;
    text-shadow: none;
  }
}