// Colours
$main-colour: #faebd7;
$main-colour-dark: darken($main-colour, 10%);

$background-color: #022c43;
$backgorund-dark: #010b11;

$secondary-colour: #d5262e;
$active-colour: #ffd700;

// Breakpoints
$isExtraSmallMobile: 360px;
$isMobile: 575px;
$isTablet: 1024px;
