// Colours
$primary-colour: #faebd7;
$primary-colour-dark: darken($primary-colour, 10%);

$background-color: #010b11;

$secondary-colour: #d5262e;
$active-colour: #ffd700;

// Breakpoints
$isExtraSmallMobile: 360px;
$isMobile: 575px;
$isTablet: 1024px;
