// Colours
$primary-colour: #faebd7;
$primary-colour-dark: #f4d4aa;

$background-colour: #010b11;

$secondary-colour: #d5262e;
$secondary-colour-dark: #aa1e25;
$active-colour: #ffd700;

// Breakpoints
$isExtraSmallMobile: 360px;
$isMobile: 575px;
$isTablet: 1024px;
