@use "sass:color";

// Colours
$primary-colour: #faebd7;
$primary-colour-dark: color.adjust($primary-colour, $lightness: -10%);

$background-colour: #010b11;

$secondary-colour: #d5262e;
$active-colour: #ffd700;

// Breakpoints
$isExtraSmallMobile: 360px;
$isMobile: 575px;
$isTablet: 1024px;
