.imgWrapper {
  display: flex;
  padding-bottom: 2px;
}

.ssShopData {
  
}

.aws {
  ul {
    text-align: left;
  }
}

.udemyBurger {
  img:hover {
    width: 500px;
    height: 250px;
  }
}

.treehouseCert {
  ul {
    text-align: left;
  }
}